#!/bin/sh
# general settings
VIDEO_WIDTH=1280
VIDEO_HEIGHT=720
VIDEO_FPS=15/1
VIDEO_BITRATE=1500000
# device specific settings
VIDEO_DEVICE=/dev/video0
SENDTO_IP=10.1.1.74
SENDTO_PORT=5000
RECEIVE_PORT=5001
